 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header{
            display: flex;
            justify-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            z-index: 1000;
            width: 100%;
            height: 80px;
            gap: 10px;
            align-items: center;
            background-color: #ffffff;
            border-bottom: 1px solid #dee2e6;
        }

        body{
            font-weight: bold;
            background-color:#f9fafc;
            font-family: Poppins, sans-serif;
        }

        .promo{
            font-size: 18px;
            margin-top: 90px;
            color: #2C2C2C;
        }

        .logo{
            margin-left: 50px;
            display: flex;
            align-items: center;
            color: #2d2d2d;
        }

        .logo h2{
            margin: 10px 10px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 40px;
        }

        .nav-b{
            margin-right: 50px;
            display: flex;
            gap: 30px;
        }

        .nav-list{
            display: flex;
            list-style: none;
            gap: 20px;
            margin: 10px;
        }

        .nav-item a{
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            color: #2d2d2d;
        }

        .nav-item a:hover{
            color: #d32f2f;
        }

        .btn-h{
            color: #ffffff;
            background-color:#ff4d4d;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1);
            width: 100%;
            transition: all 0.3s ease;
        }
        .btn-h:hover{
            transform: translateY(-2px);
            background-color: #d32f2f;
        }

        .product-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
            gap: 30px;
            margin: 20px;
            padding-left: 250px;
        }

        .product-off{
            position: relative;
        }

        .product-off span{
            position: absolute;
            right: -7px;
            background: #ff4d4d;
            color: white;
            font-size: 12px;
            padding: 3px 3px;
            font-weight: bold;
            border-radius: 0 8px 8px 0;
            box-shadow:  0 2px 6px rgba(0,0,0,0.2);
            transform: rotate(35deg);
        }


        .product-card{
            border-radius: 8px;
            background-color: #ffffff;
            width: 250px;
            padding: 10px;
        }

        .product-card img{
            width: 100%;
            
        }

        .title{
            font-size: 25px;
            margin-bottom: 8px;
            color: #222222;
        }

        .price{
            font-size: 22px;
            color: #008000;
            margin-bottom: 8px;
        }

        .btn{
            font-size: 20px;
            color: #ffffff;
            background-color:#ff4d4d;
            padding: 5px 5px;
            border: none;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1);
            width: 100%;
        }

        .btn:hover{
            background-color: #e63946;
        }

@media (max-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
            gap: 30px;
            margin: 20px;
            padding-left: 250px;
    }

    .product-card{
            border-radius: 8px;
            background-color: #ffffff;
            width: 250px;
            padding: 10px;
    }
}

@media (max-width: 992px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
        margin: 20px;
        padding: 50px;
    }

    .product-card{
            border-radius: 8px;
            background-color: #ffffff;
            width: 200px;
            padding: 10px;
    }
}

@media (max-width: 768px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 50px;
        padding-left: 50px;

    }

    .product-card{
            border-radius: 8px;
            background-color: #ffffff;
            width: 200px;
            padding: 10px;
    }
}

@media (max-width: 480px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(1fr);
        width: 70%;
        margin: 20px;
        padding-left: 50px;

    }

    .product-card{
            border-radius: 8px;
            background-color: #ffffff;
            width: 150px;
            padding: 10px;
    }
}


